rules_version = '2';
service cloud.firestore {
  match /databases/{database}/documents {
    match /{document=**} {
    allow read
      match /scenarios/{scenario}{
      	allow read
        allow create: if exists(/databases/$(database)/documents/users/$(request.auth.uid))
				allow update: if exists(/databases/$(database)/documents/users/$(request.auth.uid))
        allow delete: if get(/databases/$(database)/documents/users/$(request.auth.uid)).data.admin == true
      }
      match /caregivers/{caregiver}{
      	allow read
        allow create: if exists(/databases/$(database)/documents/users/$(request.auth.uid))
				allow update: if exists(/databases/$(database)/documents/users/$(request.auth.uid))
        allow delete: if get(/databases/$(database)/documents/users/$(request.auth.uid)).data.admin == true
      }
    }
  }
}