.category-feedback i {
  font-size: 25px;
}

.list-group {
  padding-top: 20px;
}

.list-group-item {
  padding-bottom: 5px;
}

.d-inline-block.float-left {
  font-weight: bold;
}

.badge.badge-primary.text-monospace {
  background-color: #dddddd;
}

.badge.badge-primary.text-monospace .green {
  background-color: rgb(72, 217, 22);
}

.badge.badge-primary.text-monospace .red {
  background-color: rgb(201, 26, 26);
}

.badge.badge-primary.text-monospace .yellow {
  background-color: rgb(234, 189, 74);
}

