.badge {
  width: 30px;
  height: 25px;
  margin-right: 5px;
}

.list-group-item {
  padding-bottom: 5px;
}

.d-inline-block.float-left {
  /*font-weight: bold;*/
}

.badge.badge-primary.text-monospace {
  background-color: #dddddd;
}

